.header {
  background-color: #EBD8FF;
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
    0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}

.list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
}

.link {
  display: block;
  padding: 10px 10px;
  font-size: 30px;
  font-weight: 500;
  line-height: 1.14;
  color: #5736A3;
}

.link:hover,
.link:focus {
  /* border-bottom: 5px solid #5736A3;
  border-radius: 3px; */
}
